  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+TC&family=Stylish&display=swap');
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(77, 77, 77);
  }
  
  * {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
  }
  /* ___________COOLORS____________ */
  
  .white {
      color: #ffff;
      background: #ffff;
  }
  
  .whitemintcream {
      color: #EFF6EE;
      background: #EFF6EE;
  }
  
  .magnolia {
      color: #F9F5FF;
      background: #F9F5FF;
  }
  
  .lightpink {
      color: #D4C2FC;
      background: #D4C2FC;
  }
  
  .darkblue {
      color: #1D3461;
      background: #1D3461;
  }
  
  .blue {
      color: #1F487E;
      background: #1F487E;
  }
  
  .lighterblue {
      color: #247BA0;
      background: #247BA0;
  }
  
  .darkgruemetal {
      color: #1F363D;
      background: #1F363D;
  }
  /* ______________Fonts_____________ */
  /*
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Sans TC', sans-serif; 
font-family: 'Stylish', sans-serif;

*/